* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: makes width and height include padding and border */
}
html{

  font-family: 'Roboto Mono', monospace;
  background-color: rgb(28, 39, 39);
  text-align: center;
  color: bisque;
}
body{
  height: 650px;
  overflow: hidden;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 28pt;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: bolder;
}



.intro{
  font-size: 20pt;
  margin:25px 175px 0px 175px;
  line-height: 50px;
}


ul{
  text-align: center;
  padding-right: 18px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
}
#hobby{
  margin-top: -30px;
  margin-bottom: -50px;
  display: flex;
  margin-left: -170px;
  justify-content: space-evenly;
  flex-direction: column;
  list-style: none;
  line-height: 40px;
  font-size: 10pt;
}
#hobbies{
  margin-top: 45px;
  margin-bottom: 20px;
}
a {
  color: bisque;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s, text-decoration-color 0.3s, font-size 0.3s;
}

a:hover {
  color: darkgoldenrod;
  text-decoration: underline;
  text-decoration-color: #e74c3c;
  font-size: 20px;
}


header{
  height: 150px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: black;
}
.foot{
  position: absolute;
    top: 700px;
  height: 125px;
    width: 100%;
    background-color: black;
}

.aboutMe{
  margin: 0px 175px 0px 175px;
  line-height: 40px;
}